<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Silentpost\ProductQuiz\Api\Data\QuizInterface"
                type="Silentpost\ProductQuiz\Model\Data\QuizData"/>
    <preference for="Silentpost\ProductQuiz\Api\Data\QuestionInterface"
                type="Silentpost\ProductQuiz\Model\Data\QuestionData"/>
    <preference for="Silentpost\ProductQuiz\Api\Data\AnswerInterface"
                type="Silentpost\ProductQuiz\Model\Data\AnswerData"/>
</config>
