<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Silentpost_ProductQuiz"
             title="Product Quiz"
             translate="title"
             module="Silentpost_ProductQuiz"
             resource="Silentpost_ProductQuiz::management"
             sortOrder="10"
        />
        <add id="Silentpost_ProductQuiz::management"
             sortOrder="10"
             title="Quiz Management"
             translate="title"
             module="Silentpost_ProductQuiz"
             parent="Silentpost_ProductQuiz"
             resource="Silentpost_ProductQuiz::quiz_management"
             action="productquiz/quiz/index"
        />
        <add id="Silentpost_ProductQuiz::question_management"
             sortOrder="20"
             title="Question Management"
             translate="title"
             module="Silentpost_ProductQuiz"
             parent="Silentpost_ProductQuiz"
             resource="Silentpost_ProductQuiz::question_management"
             action="productquiz/question/index"
        />
    </menu>
</config>
