<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="silentpost" translate="label" sortOrder="500">
            <label>Silentpost</label>
        </tab>
        <section id="product_quiz" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Product Quiz</label>
            <tab>silentpost</tab>
            <resource>Silentpost_ProductQuiz::quiz</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="is_active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Is Quiz Enabled?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="active_quiz" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Active Quiz</label>
                    <tooltip>This dropdown only displays currently enabled quizzes.</tooltip>
                    <source_model>Silentpost\ProductQuiz\Block\Adminhtml\System\Config\Quiz\Listing</source_model>
                    <depends>
                        <field id="is_active">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
